.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.hero__titulo {
  color: var(--clr-slate400);
  text-transform: uppercase;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.hero__subtitulo {
  font-size: var(--size-base);
  line-height: 0.9;
  background: #0072ff; /* fallback para navegadores antigos */
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* xs */
@media (min-width: 475px) {
  .hero {
    gap: 1.5rem;
  }
  
  .hero__titulo {
    font-size: var(--size-5xl);
  }
  
  .hero__subtitulo {
    font-size: var(--size-lg);
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero__titulo {
    font-size: var(--size-7xl);
  }
  
  .hero__subtitulo {
    font-size: var(--size-2xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }

  .hero__titulo {
    font-size: var(--size-9xl);
  }
  
  .hero__subtitulo {
    font-size: var(--size-4xl);
  }
}