.sobre {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.sobre__conteudo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sobre__titulo {
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

.sobre__descricao {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.sobre__hr {
  border-color: var(--clr-slate800);
}

.sobre__subtitulo {
  font-size: var(--size-sm);
  color: var(--clr-slate400);
}

.sobre__lista-container {
  display: flex;
}

.sobre__lista {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 1em;
  flex: 1;
}

.sobre__lista-item {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.sobre__img {
  display: block;
  max-width: 100%;
  user-select: none;
}

/* xs */
@media (min-width: 475px) {
  .sobre {
    gap: 1.5rem;
  }

  .sobre__conteudo {
    gap: 1.5rem;
  }

  .sobre__titulo {
    font-size: var(--size-3xl);
  }

  .sobre__descricao {
    font-size: var(--size-base);
  }

  .sobre__subtitulo {
    font-size: var(--size-base);
  }

  .sobre__lista-item {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .sobre__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sobre__img {
    width: 28rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .sobre {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sobre__titulo {
    font-size: var(--size-4xl);
  }

  .sobre__descricao {
    font-size: var(--size-lg);
  }

  .sobre__subtitulo {
    font-size: var(--size-lg);
  }

  .sobre__lista-item {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .sobre_conteudo {
    gap: 2rem;
  }

  .sobre__titulo {
    font-size: var(--size-5xl);
  }

  .sobre__descricao {
    font-size: var(--size-xl);
  }

  .sobre__subtitulo {
    font-size: var(--size-xl);
  }

  .sobre__lista-item {
    font-size: var(--size-xl);
  }

  .sobre__img {
    width: 30rem;
  }
}